.env
__pycache__/
.pytest_cache/
.venv/
venv/
.DS_Store
# Entorno virtual
.venv/
venv/

~/venv/
~

# Caché de Python
__pycache__/
*.pyc

# Archivos de entorno
.env

# Archivos de testing temporales
*.db
test.db
Test-NetConnection
*-test.db